<launch>

     <include file="$(find state_estimation)/launch/multicam_setup.launch" >
        <arg name="cam1" value="webcam" />
        <arg name="cam2" value="external_webcam" />
    </include>

    <node pkg="state_estimation" type="ft_contact_detection.py" name="ft_contact_detection"  output="screen" />
    <node pkg="state_estimation" type="object_state.py" name="state_estimation"  output="screen" />
    <node pkg="wrist_motion"     type="reorient_ac.py" name="wrist_motion"  output="screen" />

  <!-- Run Rviz -->
  <!-- <node name="$(anon rviz)" pkg="rviz" type="rviz" output="screen" args="-d $(dirname)/../config/tiago.rviz" /> -->
</launch>