<launch>
    <arg name="cam1" default="cam1" />
    <arg name="cam2" default="cam2" />
    <arg name="cam3" default="cam3" />

    <arg name="cam1_video" default="/dev/video2" />
    <arg name="cam2_video" default="/dev/video0" />
    <arg name="cam3_video" default="/dev/video4" />

    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_$(arg cam1)" output="screen" >
        <param name="camera_name" value="$(arg cam1)" />
        <param name="pixel_format" value="yuyv" />
        <param name="video_device" value="$(arg cam1_video)" />
    </node>

    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_$(arg cam2)" output="screen" >
        <param name="camera_name" value="$(arg cam2)" />
        <param name="pixel_format" value="yuyv" />
        <param name="video_device" value="$(arg cam2_video)" />
    </node>

    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_$(arg cam3)" output="screen" >
        <param name="camera_name" value="$(arg cam3)" />
        <param name="pixel_format" value="yuyv" />
        <param name="video_device" value="$(arg cam3_video)" />
    </node>

</launch>