<launch>
    <arg name="debug"  default="false"/>

    <include file="$(find myrmex_gripper_controller)/launch/load_myrmex_controller.launch">
        <arg name="start_controller" value="true" />
    </include>
    <include file="$(find myrmex_gripper_controller)/launch/myrmex_readout.launch">
        <arg name="rviz" value="false" />
        <arg name="debug" value="$(arg debug)" />
    </include>
</launch>